#table li {
    list-style-type: none;
    text-align: center;
}

#table span {
    display: inline-block;
    border: 1px solid black;
    font-weight: bold;
    padding: 10px 10px 30px 10px;
    width: 70px;
    margin-right: -10px;
}

#table .cellNames {
    background-color: red;
}

#table .cellPlaces {
    background-color: aqua;
}

#table .cellThings {
    background-color: yellow;
}

.mainList {
    list-style-type: none;
    border: 1px solid black;
}

.subList {
    list-style-type: none;
}

button {
    background-color: white;
    border: none;
}